@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 0, 255, 0)), color-stop(0%, rgba(20, 0, 255, 0)), color-stop(0%, rgba(99, 88, 220, 0)), color-stop(0.01%, rgba(253, 253, 253, 0.0070922)), color-stop(0.02%, #458bed), color-stop(35.42%, #21549d), color-stop(55.21%, #123c85), color-stop(83.33%, #061a56)) no-repeat;
  background: linear-gradient(180deg, rgba(20, 0, 255, 0) 0%, rgba(20, 0, 255, 0) 0%, rgba(99, 88, 220, 0) 0%, rgba(253, 253, 253, 0.0070922) 0.01%, #458bed 0.02%, #21549d 35.42%, #123c85 55.21%, #061a56 83.33%) no-repeat;
  min-height: 100vh;
  height: 100vh;
  font-family: "Chivo", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #061a56;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3%;
}

.headerContainer h1 {
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 3rem;
  letter-spacing: 10px;
  font-weight: 700;
}

.headerContainer h1 a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .headerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .headerContainer h1 {
    font-size: 2rem;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30%;
  color: white;
}

.hero h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.hero h3 {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1rem;
  font-weight: 300;
  text-align: center;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20%;
  padding: 2rem 0;
}

.search .inputSearch {
  width: 40%;
  height: 3rem;
  border-radius: 5px;
  border: none;
  background-color: #dbdbdb;
  padding: 0 1rem;
  font-size: 1.2rem;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 2%;
}

.search .inputSearch:focus {
  background-color: #fff;
}

.search .filterSearch {
  background-color: #91b0ff4a;
  width: 15%;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 0 1rem;
  font-size: 1.2rem;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    padding: 0;
    margin-top: 10%;
  }
  .search .inputSearch {
    width: 70%;
    margin-bottom: 5%;
  }
  .search .filterSearch {
    width: 70%;
    margin-bottom: 10%;
  }
}

.listMovies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 12%;
}

.listMovies .btnAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.listMovies .btnAlign #btnReturnToResult {
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  border: none;
  background-color: #dbdbdb00;
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 2%;
  margin-bottom: 10%;
  color: #fff;
}

.listMovies .btnAlign #btnReturnToResult:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
}

.listMovies .totalMovies {
  width: 100%;
  text-align: center;
  margin-bottom: 3%;
  color: #fff;
  font-size: 16px;
}

.listMovies .movieListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  position: relative;
}

.listMovies .movieListItem .cardMovieImg {
  margin-bottom: 5%;
}

.listMovies .movieListItem .cardMovieImg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 2%;
  cursor: pointer;
  height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 10px 11px 29px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 11px 29px -19px rgba(0, 0, 0, 0.75);
  height: 440px;
}

.listMovies .movieListItem .cardMovieImg .movieFilm {
  position: absolute;
  color: #f1c7c7;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  top: 5%;
  left: 70%;
  background-color: #d43737;
  -webkit-box-shadow: 0 0 35px 10px #000000;
  box-shadow: 0 0 12px 3px #00000062;
}

.listMovies .movieListItem .cardMovieImg .movieSerie {
  position: absolute;
  color: #dfdcff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  top: 5%;
  left: 67%;
  background-color: #3747d4;
  -webkit-box-shadow: 0 0 35px 10px #000000;
  box-shadow: 0 0 12px 3px #00000062;
}

.listMovies .movieListItem .cardMovieImg .movieShowTV {
  position: absolute;
  color: #fff5e1;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  top: 5%;
  left: 70%;
  background-color: #ffc933;
  -webkit-box-shadow: 0 0 35px 10px #000000;
  box-shadow: 0 0 12px 3px #00000062;
}

.listMovies .movieListItem .cardMovieImg:hover img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.listMovies .movieListItem .movieListItemInfos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.listMovies .movieListItem .movieListItemInfos {
  -webkit-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
}

.listMovies .movieListItem .movieListItemInfos h1,
.listMovies .movieListItem .movieListItemInfos p {
  color: white;
  opacity: 1;
  font-size: 20px;
  text-align: center;
}

.listMovies .movieListItem .movieListItemInfos p {
  font-weight: 200;
  font-size: 15px;
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  #btnReturnToResult {
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    border: none;
    background-color: #dbdbdb00;
    padding: 0.2rem 1rem;
    font-size: 0.8rem !important;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-right: 2%;
    margin-bottom: 5%;
    color: #fff;
  }
}

.cardMovie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1% 0;
}

.cardMovie .cardMovieDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  padding-left: 3%;
  font-family: 'Chivo';
}

@media screen and (max-width: 768px) {
  .cardMovie {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1% 0;
  }
  .cardMovie .cardMovieDescription {
    padding-left: 0;
    padding: 3%;
  }
  .cardMovie .cardMovieDescription p, .cardMovie .cardMovieDescription li, .cardMovie .cardMovieDescription h3 {
    padding: 3%;
  }
}
/*# sourceMappingURL=index.css.map */